<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @question.desc %>
</p>

<p>
  <strong>Gabarito:</strong>
  <%= @question.gabarito %>
</p>

<p>
  <strong>Image:</strong>
  <%= @question.image %>
</p>

<p>
  <strong>Prova:</strong>
  <%= @question.prova.name %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
