<%= form_with(model: prova, local: true) do |form| %>
  <% if prova.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prova.errors.count, "error") %> prohibited this prova from being saved:</h2>

      <ul>
        <% prova.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc %>
  </div>

  <div class="field">
    <%= form.label :admission_exam_id %>
    <%= form.text_field :admission_exam_id %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
