<%= form_with(model: simulado, local: true) do |form| %>
  <% if simulado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(simulado.errors.count, "error") %> prohibited this simulado from being saved:</h2>

      <ul>
        <% simulado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="field">
    <%= form.label :vestibulando_id %>
    <%= form.text_field :vestibulando_id %>
  </div>

  <div class="field">
    <%= form.label :prova_id %>
    <%= form.text_field :prova_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
