<p id="notice"><%= notice %></p>

<h1>Simulados</h1>

<table>
  <thead>
    <tr>
      <th>Iniciado</th>
      <th>Prova</th>
      <th>Vestibulando</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulados.each do |simulado| %>
      <tr>
        <td><%= simulado.created_at %></td>
        <td><%= simulado.prova.name %></td>
        <td><%= simulado.vestibulando.username %></td>
        <td><%= link_to 'Show', simulado %></td>
        <td><%= link_to 'Edit', edit_simulado_path(simulado) %></td>
        <td><%= link_to 'Destroy', simulado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulado', new_simulado_path %>
