<%= form_with(model: resolution, local: true) do |form| %>
  <% if resolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resolution.errors.count, "error") %> prohibited this resolution from being saved:</h2>

      <ul>
        <% resolution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :universitario_id %>
    <%= form.text_field :universitario_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
