<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @materium.desc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @materium.name %>
</p>

<%= link_to 'Edit', edit_materium_path(@materium) %> |
<%= link_to 'Back', materia_path %>
