<p id="notice"><%= notice %></p>

<h1>Alternativas</h1>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alternativas.each do |alternativa| %>
      <tr>
        <td><%= alternativa.desc %></td>
        <td><%= link_to 'Show', alternativa %></td>
        <td><%= link_to 'Edit', edit_alternativa_path(alternativa) %></td>
        <td><%= link_to 'Destroy', alternativa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alternativa', new_alternativa_path %>
