<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @alternativa.desc %>
</p>
<p>
  <strong>Questão:</strong>
  <%= @alternativa.question.desc %>
</p>

<%= link_to 'Edit', edit_alternativa_path(@alternativa) %> |
<%= link_to 'Back', alternativas_path %>
